label {
  width: 100px;
  display: inline-block;
}

.dodajRacun {
  background: #030852;
  border-color: #030852;
  display: block;
  margin: 0 auto;
}

.accForm {
  margin-left: auto;
  margin-right: auto;
}

.container {
  padding: 20px;
  float: left;
}
h1 {
  color: #030852;
  padding: 10px 0;
  font-size: large;
}

.imgContainer {
  text-align: right;
  margin-top: 20vh;
  margin-right: 10vw;
}

.imgContainer img {
  transform: scale(1.5);
}
