/* .container {
  padding: 20px;
}

.title {
  background: #adc6ff;
  padding: 15px;
}

.title h1 {
  font-style: bold;
  font-size: 20px;
} */

.homeContainer {
  text-align: center;
}

.homeContainer h1 {
  font-size: x-large;
}

.ant-carousel .slick-slide {
  text-align: center;
  height: 70vh;
  background: white;
  overflow: hidden;
}

.ant-carousel .slick-slide h3 {
  color: #597ef7;
}
.slick-dots-bottom li {
  background-color: #030852;
  color: #030852;
}

.ant-carousel .slick-dots li {
  height: 10px;
  width: 40px;
  margin: 0 5px;
  background: #030852;
}
.homeContainer img {
  margin: 0 auto;
  padding: 10px;
}
