.timePicker {
    margin: 30px auto 30px auto;
    display: table;
    min-width: 740px;
}

.filterButton {
    display: inline-block;
    margin: 10px;
    width: 200px;
    height: 40px;
}

.picker {
    margin: 10px;
    height: 40px;
    width: 500px;
}

.container {
    margin: auto;
    display: contents;
}

.transactionHeaderPie {
    margin: auto;
    padding: initial;
}
