.App {
  text-align: center;
}

.site-layout-background {
  background: #fff;
}

.header {
  background: #030852;
}

.logo {
  float: left;
}

.logo p {
  display: inline;
  font-size: 25px;
  font-style: italic;
}
img {
  height: 30vh;
}
.avatar {
  margin: 16px 0px 16px 0;
  float: right;
}
